<a id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="pointer cart-info"><%= cart_info %></a>
<ul class="dropdown-menu right" aria-labelledby="dLabel">
  <% if simple_current_order && simple_current_order.line_items.present? %>
    <div class='row row-no-margin'>
      <% simple_current_order.line_items.each do |line_item| %>
        <div class='col-lg-4'>
          <%= image_tag line_item.variant.images.first.attachment.url(:mini) %>
        </div>
        <div class='col-lg-6'>
          <%= line_item.product.name %>
        </div>
        <div class='col-lg-2'>
          <%= line_item.variant.price_in(current_currency).money %>
        </div>

      <% end %>
    </div>
    <div class='col-lg-12 row'>
      <%= link_to "View Cart", spree.cart_path, :class => "cart-info" %>
    </div>
  <% else %>
    <div class='col-lg-12 row'>
      Your Cart is Empty!
    </div>
  <% end %>
</ul>
