<div class="top-nav-block">
  <% unless content_for?(:search_link) %>
    <ul class="top-link-bar list-unstyled" data-hook>
      <%= render :partial => 'spree/shared/nav_bar' %>
      <li id="link-to-cart" class="link-block dropdown" data-hook>
        <noscript>
          <%= link_to Spree.t(:cart), '/cart' %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
    </ul>
  <% end %>
</div>

<nav class="site-navbar">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <% taxon = Spree::Taxon.first %>
      <% first_level_taxons(taxon.root).each do |_taxon| %>
        <li class='primary-link-block'>
          <%= link_to _taxon.name, seo_url(_taxon), class: 'primary-link' %>
          <% leave_taxons = _taxon.children %>
          <% if leave_taxons.size > 0 %>
            <ul class='dropdown-menu'>
              <% _taxon.children.each do |child_taxon| %>
                <li class='secondary-link-block'>
                  <%= link_to child_taxon.name, seo_url(child_taxon), class: 'secondary-link' %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
