<div class="top-nav-block">
  <% unless content_for?(:search_link) %>
    <ul class="top-link-bar list-unstyled" data-hook>
      <%= render :partial => 'spree/shared/nav_bar' %>
      <li id="link-to-cart" class="link-block dropdown" data-hook>
        <noscript>
          <%= link_to Spree.t(:cart), '/cart' %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
    </ul>
  <% end %>
</div>
<% unless content_for?(:show_header_links) %>
  <nav class="site-navbar">
    <div id="main-nav-bar" class="navbar">
      <ul class="nav navbar-nav" data-hook>
        <li id="home-link" data-hook class="<%= 'active-link primary-link-block' unless @taxon %>"><%= link_to Spree.t(:home), spree.root_path, :class => 'primary-link' %></li>
        <% taxonomy = Spree::Taxon.find_by(name: 'Categories') %>
        <% first_level_taxons(taxonomy).each do |_taxon| %>
          <% css_class = (@taxon && @taxon.self_and_ancestors.include?(_taxon)) ? 'primary-link-block active-link' : 'primary-link-block' %>
          <li class="<%= css_class %>">
            <% if fetch_products_with_product(_taxon) > 0 %>
              <%= link_to _taxon.name, seo_url(_taxon), class: 'primary-link' %>
            <% end %>
            <% leave_taxons = _taxon.children %>
            <% if leave_taxons.size > 0 %>
              <ul class='dropdown-menu'>
                <% _taxon.children.each do |child_taxon| %>
                  <% if child_taxon.products.count > 0 %>
                    <li class='secondary-link-block'>
                      <%= link_to child_taxon.name, seo_url(child_taxon), class: 'secondary-link' %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
<% end %>
