<% @taxons = Spree::Taxon.non_roots %>

<article id="search-form-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <article class="modal-content">
      <%= form_tag spree.products_path, :method => :get, class: "", data: { 'search-path': spree.products_path } do %>
         <div class="modal-header padding-horizontal-none">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">SEARCH IN STORE</h4>
        </div>

        <div class="modal-body padding-horizontal-none">
          <div class="form-group">
            <% cache(cache_key_for_taxons) do %>
              <ul class='list-inline'>
                <li data-taxon-id=''><%= Spree.t(:all_departments) %></li>
                <% @taxons.map do |taxon| %>
                  <li data-taxon-id=<%= taxon.id %>><%= taxon.name %></li>
                <% end %>
              </ul>
              <%= select_tag :taxon,
                    options_for_select([[Spree.t(:all_departments), '']] +
                                          @taxons.map {|t| [t.name, t.id]},
                                          @taxon ? @taxon.id : params[:taxon]), 'aria-label' => 'Taxon', class: "form-control hidden" %>
            <% end %>
          </div>
          <div class="form-group search-form-group">
            <%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), class: "form-control", data: { search: true } %>
            <label class="search-label">
              <i class="fa fa-search"></i>
              <%= submit_tag Spree.t(:search), :name => nil, class: "hidden" %>
            </label>
          </div>
          <dl id="quick-serach-link" data-search-links='quick'>
            <dd>Quick Links</dd>
            <dt><a>New Collection</a></dt>
            <dt><a>Sale upto 30% </a></dt>
            <dt><a>Shoes of the week</a></dt>
            <dt><a>Shoes for Couple</a></dt>
          </dl>
        </div>
      <% end %>
      <div class='' data-show-products='search'>
      </div>
      <div class='load-results hidden text-center'>
        <%= image_tag 'yoda/images/spree/frontend/ajax-loader.gif' %>
      </div>
    </article>
  </div>
</article>
