<%# no need for thumbnails unless there is more than one image %>
<% if (product.images + product.variant_images).uniq.size > 1 %>
  <ul id="product-thumbnails" class="thumbnails list-unstyled prod-main-block" data-hook>
    <span><%= product.badge.try(:name) %></span>
    <% product.images.each do |i| %>
      <li class='tmb-all tmb-<%= i.viewable.id %>'>
        <span class="prod-img-link">
          <%= link_to(image_tag(i.attachment.url(:original), class: "thumbnail img-responsive"), product) %>
        </span>
      </li>
    <% end %>

    <% if product.has_variants? %>
      <% product.variant_images.each do |i| %>
        <% next if product.images.include?(i) %>
        <li class='vtmb tmb-<%= i.viewable.id %>'>
          <span class="prod-img-link">
            <%= link_to(image_tag(i.attachment.url(:original), class: "thumbnail img-responsive"), product) %>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <ul class="prod-main-block list-unstyled">
    <span><%= product.badge.try(:name) %></span>
    <li>
      <span class="prod-img-link">
        <%= link_to product do %>
          <% if product.master.images.first %>
            <%= image_tag(product.master.images.first.attachment.url(:original), itemprop: 'image', class: 'img-responsive') %>
          <% end %>
        <% end %>
      </span>
    </li>
  </ul>
<% end %>
