<article class="">
  <div class="col-sm-12 padding-none col-for-search left-search-col" data-hook="product_left_part">
    <div data-hook="product_left_part_wrap">
      <div id="product-images" data-hook="product_images">
        <div id="main-image" class="panel panel-default" data-hook>
          <div class="panel-body text-center padding-none">
            <span data-product-images=<%= "product_#{product.id}" %>>
              <%= render 'spree/products/image', product: product %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 padding-none col-for-search right-search-col" data-hook="product_right_part">
    <div data-hook="product_right_part_wrap">
      <span data-product-details=<%= "product_#{product.id}" %>>
        <div class="product-description" data-hook="product_description">
          <%= link_to product.name, product, :class => "product-title", :itemprop => "name" %>
          <div id="cart-form" data-hook="cart_form">
            <%= render 'spree/products/related_cart_form', product: product %>
          </div>
        </div>
      </span>
    </div>
  </div>
</article>
