<article class="" data-selected-variant=<%= "product_#{product.id}" %>>
  <div class="col-sm-12" data-hook="product_left_part">
    <div data-hook="product_left_part_wrap">
      <div id="product-images" data-hook="product_images">
        <div id="main-image" class="panel panel-default" data-hook>
          <div class="panel-body text-center padding-none">
            <%= render 'image', product: product %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12" data-hook="product_right_part">
    <div data-hook="product_right_part_wrap">
      <div id="product-description" data-hook="product_description">
        <%= link_to product do %>
          <h1 class="product-title" itemprop="name"><%= product.name %></h1>
        <% end %>
        <div id="cart-form" data-hook="cart_form">
          <%= render 'related_cart_form', product: product %>
        </div>
      </div>
    </div>
  </div>
</article>
