<% @body_id = 'product-details' %>
<% content_for :header do -%>
  <%= javascript_include_tag 'yoda/javascripts/spree/frontend/product_show' -%>
  <%= javascript_include_tag 'yoda/javascripts/spree/frontend/product' -%>
<% end -%>

<% cache [I18n.locale, current_currency, @product, @product.possible_promotions, Spree::Taxon.pluck(:is_featured).to_sentence] do %>
  <div data-hook="product_show" itemscope itemtype="https://schema.org/Product">
    <section class="container-fluid">
      <div class='main-product'>
        <%= render 'product_details', product: @product %>
      </div>

      <article class="row prod-three-block">
        <div class="col-sm-4 p-f-block text-center">
          <h5>BUNDLE SPECIAL</h5>
          <p>Any 2 pairs = Save 5% + Free Shipping</p>
          <p>Any 3 pairs = Save 10% + Free Shipping*</p>
        </div>
        <div class="col-sm-4 p-f-block text-center">
          <h5>RETURNS &amp; EXCHANGES</h5>
          <p>We offer free and easy exchanges and returns for up to 21 days for all our products. All sneakers must be in new condition.</p>
        </div>
        <div class="col-sm-4 p-f-block text-center">
          <h5>SIZE INFO</h5>
          <p>If you normally wear a 10 get a 9.5 Questions? <a class="pointer">Email us</a> or check our <a class="pointer">Sizing guide</a></p>
        </div>
      </article>

      <article class="row">
        <div class="fress-shipping-info text-center col-sm-12">
          Free shipping on order $90
        </div>
      </article>

      <article class="row product-detail-row">
        <div class="product-detail-section" itemprop="description" data-hook="description" id='product-details-display'>
          <div class="cmn-block-heading">
            <span class="heading-slogan">Product Detail</span>
            <p class="heading-text">Lorem Ipsum is simply dummy text of the printing</p>
          </div>
          <div class="detail-content-box cmn-detail-block">
            <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
          </div>

          <%= render :partial => 'properties' %>

          <%= render :partial => 'promotions' %>

          <div data-hook="social" class="col-sm-12 cmn-detail-block product-social-block">
            <%= render :partial => 'social' %>
          </div>
        </div>
      </article>

      <%= render 'related_products', products: @product.relations.limit(3), search: false %>
    </section>
  </div>
<% end %>
