<% content_for :header do -%>
  <%= stylesheet_link_tag 'yoda/stylesheets/spree/frontend/product-listing' -%>
  <%= javascript_include_tag 'yoda/javascripts/spree/frontend/product_show' -%>
  <%= javascript_include_tag 'yoda/javascripts/spree/frontend/product' -%>
<% end -%>

<% content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
    <%= render partial: 'spree/shared/filters' if @taxon.leaf? %>
  </div>
<% end %>

<div data-hook="taxon_products">
  <%= render partial: 'spree/shared/products', locals: { products: @products, taxons: [@taxon], search: true } %>
</div>

<div class="pagination">
  <%= paginate @products if @products.first.is_a? Spree::Product %>
</div>

<% unless params[:keywords].present? %>
  <div data-hook="taxon_children">
    <% cache [I18n.locale, @taxon, Spree::Config[:theme_name], Spree::Taxon.pluck(:is_featured).to_sentence] do %>
      <%= render partial: 'taxon', collection: @taxon.children %>
    <% end %>
  </div>
<% end %>
