<article class="panel panel-default">
  <div class='panel-heading pointer collapsed panel-step-heading' data-toggle-checkout-progress='confirm' data-toggle="collapse" href="#step-confirm" aria-expanded="false" aria-controls="step-confirm">
    <%= Spree.t(:confirm) %>
  </div>
  <div id="step-confirm" data-checkout-progress='confirm' class="collapse <%= '' unless @order.state == 'confirm' %>">
    <%= form_for @order, url: update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}" }, remote: true do |form| %>
      <%= form.hidden_field :state_lock_version %>
      <div class="panel-body" id="order_details" data-hook>
        <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
      </div>

      <div class="panel-footer text-right form-buttons" data-hook="buttons">
        <%= submit_tag Spree.t(:place_order), :class => 'btn btn-lg btn-success' %>
      </div>
    <% end %>
  </div>
</article>