<% content_for :show_header_links do -%>.<% end -%>
<% content_for :header do -%>
  <%= stylesheet_link_tag 'yoda/stylesheets/spree/frontend/checkout/checkout-steps' -%>
<% end -%>
<% content_for :google_analytics do %>
  <%= render partial: 'spree/shared/google_checkout.js', locals: { order: @order, step_number: (@order.checkout_steps.index(@order.state).to_i + 1) } %>
<% end %>
<% content_for :search_link do -%>.<% end %>
 
<div id="checkout" data-hook class="container-fluid">
  <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

  <div class="row" data-hook="checkout_header">
    <div class="col-sm-12">
      <h1 data-hook="checkout_title" class="page-heading"><%= Spree.t(:checkout) %></h1>
    </div>
  </div>

  <div data-hook="checkout_content" class="checkout-step-row row">
    <div class="panel-group <%= if @order.state != 'confirm' then 'col-md-9' else 'col-md-12' end %>" data-hook="checkout_form_wrapper" id="c-accordion" role="tablist" aria-multiselectable="true">
      <% checkout_steps = @order.checkout_steps %>
        <% reached_final_state = false %>
        <% checkout_steps[0...checkout_steps.length-1].each do |state| %>
          <%= render 'order_steps', state: state, reached_final_state: reached_final_state %>
          <% if state == @order.state %>
            <% reached_final_state = true %>
          <% end %>
        <% end %>
    </div>
    <% if @order.state != 'confirm' %>
      <div id="checkout-summary" data-hook="checkout_summary_box" class="col-md-3">
        <%= render partial: 'summary', locals: { order: @order } %>
      </div>
    <% end %>
  </div>
</div>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.guest_token %>"
</script>

<% if I18n.locale != :en %>
  <%= javascript_include_tag 'jquery.validate/localization/messages_' + I18n.locale.to_s.downcase.gsub('-', '') %>
<% end %>
